@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%20|%20Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%20|%20Hind:300,400,500,600,700');

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	font-family: "Poppins",sans-serif;
	background-color: #eee7;`
}

a{
	text-decoration: none;
}

section:first-of-type{
	margin: 0;
	margin-bottom: 4rem;
}

section{
	margin: 0 3rem;
	margin-bottom: 4rem;
}

img{
	image-rendering: auto;
}

.preloader-bg-cont{
	background-color: #222831;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 10000000;
}

.preloader-cont{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.preloader{
	animation-name: loader;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	border: 2px solid transparent;
	border-bottom: 2px solid #0fefda;
	border-radius: 100%;
	padding: 6rem;
}

@keyframes loader{
	0%{ transform: rotate(0deg);  box-shadow: 80px 80px 1px  #0fefda; }
	50%{ transform: rotate(180deg);  box-shadow: 80px 80px 85px  #0fefda; }
	100%{  transform: rotate(360deg);  box-shadow: 80px 80px 1px  #0fefda;}
}

/* .preloader{ */
	/* animation-name: loader; */
	/* animation-duration: 2s; */
	/* animation-iteration-count: infinite; */
	/* animation-timing-function: linear; */
	/* border-radius: 100%; */
	/* border-bottom: 16px solid #0fefda; */
	/* box-shadow: 0 0 45px red; */
	/* padding: 8rem; */
/* } */

/* @keyframes loader{ */
	/* 0%{ transform: rotate(0deg); background-color: red; box-shadow: 0 0 45px red; } */
	/* 50%{ transform: rotate(180deg);padding: 1rem; background-color: red; box-shadow: 0 0 5px red; } */
	/* 100%{ transform: rotate(360deg); background-color: red; box-shadow: 0 0 45px red;} */
/* } */

/* 0%{ transform: rotate(0deg); } */
/* 50%{  padding: 2rem; box-shadow: 0 0 2px #0fefda; background-color: #0fefda;} */
/* 100%{  padding: 4rem; } */

#contact-us{
	margin-top: 6rem;
}

#home{
	display: flex;
	height: 100vh;
	min-height: 40rem;
	background-attachment: fixed;
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.8)), url('../IMAGES/img-Concor-homepage-banner-kromrivier_jeffreys_premix_train_t.jpg'); 
}

.companyTitle-cont-cont{
	margin: auto;
	width: 70%;
}

.companyTitle-cont{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 0;
}

.company-title{
	animation-name: smooth-in;
	animation-duration: 3s;
	margin-bottom: 4px;
	text-align: center;
	letter-spacing: 0.8rem; 
	line-height: 3.8rem;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
	font-size: 3.5rem;
	font-weight: bold;
	color: #fff;
	font-family: montserrat, sans-serif;
}

.companyTitle-cont p{
	animation-name: smooth-in;
	animation-duration: 4.8s;
	line-height: 1.9rem;
	color: #fff;
	font-size: 18px;
	text-align: center;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
}

@keyframes smooth-in{
	0%{opacity: 0; }
	15%{opacity: 0; text-shadow: 0 0 10px rgba(255, 255, 255, 1); }
	55%{opacity: 0.8; text-shadow: 0 0 10px rgba(255, 255, 255, 1);}
	100%{opacity: 1; text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);}
}

.topNav{
	display: flex;
	align-items: center;
	justify-content: space-around;
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	margin: 0;
	padding: 0;
	background-color: transparent;
	width: 100%;
	z-index: 1000;
	transition: 0.6s;
}

.navBgColor, .bg-color{
	background-color: rgba(34, 40, 49, 0.8);
	box-shadow: 0 0 10px rgba(34, 40, 49, 0.6);
}

.navBgColor:hover, .bg-color:hover{
	background-color: rgba(34, 40, 49, 1);
}

.logo-title, .mobile-logo-cont{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 145px;
	overflow: hidden;
}

.mobile-logo-title{
	display: none;
	padding:0 18px;
	justify-content: space-between;
}

.logo-title a{
	text-decoration: none;
}

.comp-logo{
	padding-top: 10px; 
	user-select: none;
	max-width: 100%;
	cursor: pointer;
}

.menu-toggle{
	align-self: center;
	display: flex;
	list-style: none;
   	flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
}

.bar{
	transition: 0.3s;
    background-color: #fff;
  	margin: 4px 0;
    width: 40px;
    height: 5px;
    border-radius: 3px;
}

.change .top-toggle{
	transform: rotate(-45deg) translate(-9px, 9px);
}

.change .mid-toggle{
    opacity: 0;
}

.change .low-toggle{
	transform: rotate(45deg) translate(-9px, -10px);
}

.nav{
	display: flex;
	list-style: none;
	padding-left: 0;
}

.nav-link{
	display: flex;
	flex-direction: column;
	cursor: pointer;
	margin: 0 1.4rem;
}

.nav-link:first-child{
	margin-left: 0;
}

.nav-link:last-child{
	margin-right: 0;
}

.nav-link a{
	padding: 10px 0;
	color: #fff;
	font-size: 1.4rem;
	text-decoration: none;
}

#active{
	opacity: 1;
	width: 100%;
}

.line{
	width: 0;
	border: 0;
	/* margin: 10px 0 auto 0; */
	border-bottom: 2px solid #F5F5F5;
	opacity: 0;
	transition: 0.2s;
}

.nav-link:hover .line{
	opacity: 1;
	width: 100%;
}

.fullLine{
	transition: 0.3s;
	opacity: 1;
	width: 100%;
}

.section-header{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.section-title{
	align-self: center;
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 1), 1px -1px 0 rgba(0, 0, 0, 1), -1px 1px 0 rgba(0, 0, 0, 1), 1px 1px 0 rgba(0, 0, 0, 1);
	font-family: montserrat, sans-serif;
	text-align: center;
	font-size: 3.5rem;
	font-weight: bold;
	cursor: default;
	transition: all 0.3s ease-in-out;
}

.section-title:hover{
	color: #353535;
	text-shadow: 0px 0px 0 rgba(0, 0, 0, 0);
}

.section-descript{
	line-height: 1.9;
	margin-top: -2rem;
	font-size: 1.2rem;
	align-self: center;
	text-align: center;
	padding: 0 1.5rem;
}

.aboutInfo-cont{
	display: flex;
	flex-direction: column;
}

.about-descript{
	display: flex;
	justify-content: center;
	
}

.aboutDescript-paragrah{
	text-align: center;
	width: 90%;
	line-height: 1.9rem;
}

.aboutUsMission-statement, .service-list{
	display: flex;
	justify-content: space-between;
	margin-top: 2.5rem;
}

.missionStatement-box, .service-box, .project-box{
	display: flex;
	width: 100%;
	max-width: 380px;
	transition: 0.3s;
	margin: 0 1rem;
	padding: 2rem;
	border-radius: 5px;
	flex-direction: column;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.project-slideshow{
	margin-top: 2rem;
}

.project-box{
	display: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
	max-width: 400px;
}

.missionStatement-box:hover, .service-box:hover{
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.project-box:hover{
	box-shadow: 0 0 6px rgba(0, 0 , 0, 0.2);
}

.box-title h1, .servie-title h1, .project-title h1{
	font-weight: 600;
	margin-bottom: 8px;
	font-size: 1.6rem;
	color: rgb(43, 75, 128);
	text-transform: uppercase;
}

.project-title h1{
	text-align: center;
	margin: 1rem 1.8rem;
	text-decoration: underline;
}

.box-descript p, .serviceBox-descript p, .project-description p{
	line-height: 1.9rem;
}

.project-description p{
	text-align: center;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 1rem 1.8rem;
}

.serviceBox-image{
	display: flex;
	width: 120px;
	max-width: 120px;
	user-select: none;
}

.serviceBox-image img{
	max-width: 100%;
}

.project-image{
	display: flex;
	height: 300px;
	width: 100%;
	max-width: 400px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	user-select: none;
}

.project-image img{
	vertical-align: middle;
	height: 300px;
	max-height: 300px;
	width: 100%;
	transition: 0.6s;
	max-width: 100%;
}

.project-image img:hover{
	transform: scale(1.1);
}

#projectBox-modal{
	display: none;
}

.projectBox-modal{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: 100000;
	background-color: rgba(0,0,0,0.9);
	animation-name: smoove-in;
	animation-duration: 0.3s;
}

@keyframes smoove-in{
	from{opacity: 0;}
	to{opacity: 1;}
}

.smooth-out{
	animation-name: smooth-out;
	animation-duration: 0.3s;
}

@keyframes smooth-out{
	from{opacity: 1;}
	to{opacity: 0;}
}

.projectModal-box > .project-image img .projectModal-box > .project-image{
	user-select: none;
}

.projectModal-box > .project-image{
	display: flex;
	overflow: hidden;
	border-radius: 5px;
}

.projectModal-box > .project-image img{
	transition: 0.6s;'
	height: auto;
	max-width: 100%;
}

.projectModal-box > .project-title h1, .projectModal-box >  .project-description p{
	color: #fff;
}

.projectModal-box >  .project-description p{
	text-align: center;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 0;
	margin-bottom: 0;
}

.project-slideshow{
	position: relative;
	display: flex;
	justify-content: space-between;
}

.dots-cont{
	position: absolute;
	list-style: none;
	align-self: flex-end;
	left: 48.5%;
	display: flex;
	transform: translate(-50%, 115%);
}

.dots-cont li{
	width: 1.2rem;
	height: 1.2rem;
}

.dots{
	margin: 1.9rem 4px;
	border-radius: 100%;
	background-color: transparent;
	border: 1px solid #0fa0dc;
	cursor: pointer;
	transition: 0.3s;
}

.dots-cont li.dot-background{
	width: 1.4rem;
	height: 1.4rem;
}

.dot-background{
	background-color: #0fa0dc;
}

.slideShow-cont{
	display: flex;
	border-radius: 5px;
	min-height: 500px;
}

.projectModal-box{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	transition: 0.3s;
	width: 100%;
	max-width: 450px;
	flex-direction: column;
}

.modalSlideShow-tracker, .modal-closer{
	position: absolute;
	align-self: flex-start;
	top: 1.5rem;
}

.modal-closer{
	right: 3rem;
}

.modalSlideShow-tracker{
	left: 3rem;
}

.fa-camera, .track-num, .close-btn{
	transition: 0.6s;
	font-size: 2rem;
	color: #fff;
}

.close-btn{
	cursor: pointer;
	font-weight: 600;
}

.close-btn:hover{
	color: rgb(220,0,0);
	text-decoration: none;
}

.track-num{
	padding-left: 4px;
}

.boxModal-content{
	display: flex;
	justify-content: space-between;
}

.slideLeft{
	animation-name: smooth-Left;
	animation-duration: 0.4s;
}

@keyframes smooth-Left{
	0%{opacity: 0.3; transform: translate(0, 0);}
	100%{opacity: 0; transform: translate(-15rem, 0);}
}

.slideRight{
	animation-name: slideOut-right;
	animation-duration: 0.4s;
}

@keyframes slideOut-right{
	0%{opacity: 0.3; transform: translate(0, 0);}
	100%{opacity: 0; transform: translate(15rem, 0);}
}


.slideOut{
	animation-name: slide-Out;
	animation-duration: 0.4s;
}

@keyframes slide-Out{
	0%{opacity: 0; transform: translate(15rem, 0);}
	75%{opacity: 0.7;}
	100%{opacity: 1; transform: translate(0, 0);}
}

.slideIn{
	animation-name: slide-in;
	animation-duration: 0.4s;
}

@keyframes slide-in{
	0%{opacity: 0; transform: translate(-15rem, 0);}
	75%{opacity: 0.7;}
	100%{opacity: 1; transform: translate(0, 0);}
}

.arrow{
	transition: 0.3s;
	font-size: 6rem;
	align-self: center;
	font-weight: bold;
	color: #0fa0dc;
	cursor: pointer;
	user-select: none;
	margin: 0 1rem;
}

#left{
	transform: rotate(180deg);
}

#modal-left{
	transform: rotate(180deg);
}

.arrow:hover, .arrow:focus{
	color: #fff;
	text-shadow: 0 0 1.8px rgba(0, 0, 0, 0.5);
}

#contactUs-cont{
	margin-bottom: 7rem;
}

.contactUs-info{
	display: flex;
	justify-content: space-between;
	margin-top: 3.5rem;
}

.contactForm-cont{
	width: 50%;
	margin: 1rem;
}

.inputField-cont{
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5rem;
}

.inputField{
	z-index: 0;
	background-color: transparent;
	font-family: "Poppins",sans-serif;
	font-size: 1rem;
	transition: 0.3s;
	padding: 14px 12px;
	border: 1px solid #9bacde;
	border-radius: 5px;
	outline: none;
	width: 100%;
	margin-top: 2.5px;
}

.inputField:focus, textarea:focus{
	background-color: #fff;
	border: 1px solid #0bacde;
}

.required{
	color: red;
	padding-left: 5px;
}

textarea{
	background-color: transparent;
	font-family: "Poppins",sans-serif;
	font-size: 1rem;
	line-height: 1.9rem;
	transition: 0.3s;
	margin-top: 2.5px;
	width: 100%;
	outline: none;
	padding: 14px 12px;
	border: 1px solid #9bacde;
	border-radius: 5px;
	resize: vertical;
	height: 11.5rem;
}

textarea::placeholder{
	font-size: 1rem;
}

.label-cont{
	display: flex;
	justify-content: space-between;
}

.validation-message{
	display: none;
	color: #fff;
	padding: 0 5px;
	margin-right: 3px;
	font-weight: 600;
	background-color: red;
	border-radius: 3px;
}

.error{
	border: 1px solid #FF5555;
}

.error:focus{
	border: 1px solid #FF0000;
	box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

input[type=submit]{
	border: none;
	outline: none;
	color: #fff;
	border-radius: 5px;
	padding: 8px 25px;
	cursor: pointer;
	font-size: 1.2rem;
	font-family: "Poppins",sans-serif;
	background-color: #5bacde;
	transition: 0.3s;
	font-weight: 500`;
}

input[type=submit]:hover{
	color: #000;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	background-color: #0bacde;
}

.contact-details{
	display: flex;
	flex-wrap: wrap;
	background-color: red;
	width: 45%;
	margin: 1rem;
}

.contactDetails-box{
	display: flex;
	flex: 50%;
	box-shadow: 0 0 30px rgba(0,0,0,0.1);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	padding: 12px 8px;
}

.contactBox-icon img{
	user-select: none;
	margin-top: 5px;
	margin-bottom: -12px;
	width: 70px;
	height: 70px;
}

.contactBox-title h4{
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 1.5rem;
	margin-bottom: -8px;
}

.contactBox-description p{
	text-align: center;
	font-size: 1rem;
}

.footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #222831;
	padding: 8px 1rem;
}

.social-cont{
	order: 2;
}

.social-icons{
	display: flex;
	list-style: none;
}

.social-links{
	display: flex;
	transition: 0.3s;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	margin-right: 2rem;
	font-size: 1.1rem;
}

.social-links:last-child{
	margin-right: 0;
}

.social-links a{
	font-weight: bold;
	transition: 0.25s;
	color: #fff;
}

.social-links:hover  a{
	color: #0fa0dc;
}

.footer-title {
	order: 1;
}
	
.footer-title h1{
	font-weight: 300;
	text-align: center;
	line-height: 1.9rem;
	font-size: 1rem;
	color: #fff;
	font-family: montserrat, sans-serif;
}

.footer-title a{
	text-decoration: none;
	color: #0fefda;
	transition: 0.3s;
}

.footer-title a:hover{
	color: #757555;
}

.page-shooter{
	display: flex;
	justify-content: flex-end;
	margin: 2rem;
}

.shoot{
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: 0.3s;
	background-color: #fff;
	border-radius: 100%;
	padding: 1.2rem;
	font-size: 2rem;
	text-align: center;
}

.shoot:hover{
	color: #fff;
	background-color: #0fefda;
}