@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%20|%20Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%20|%20Hind:300,400,500,600,700');

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	font-family: "Poppins",sans-serif;
	background-color: #eee7;`
}

section{
	margin-bottom: 2rem;
}

#header{
	display: flex;
	overflow: hidden;
	position: relative;
	height: 100vh;
	min-height: 40rem;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../IMAGES/img-Concor-homepage-banner-kromrivier_jeffreys_premix_train_t.jpg'); 
}

.topNav{
	display: flex;
	justify-content: space-around;
	top: 0;
	position: fixed;
	margin: 0;
	padding: 0;
	background-color: transparent;
	width: 100%;
	z-index: 50;
}

.nav-span{
	white-space: nowrap;
}

.logo-title{
	padding: 12px 18px;
}

.logo-title a{
	text-decoration: none;
}

.comp-logo{
	height: 100px;
	cursor: pointer;
}

.nav{
	display: flex;
	list-style: none;
	padding: 10px 0;
}

.nav-link{
	cursor: pointer;
	padding: 10px 15px;
	margin: 0 8px;
}

.nav a{
	color: #fff;
	font-size: 1.4rem;
	text-decoration: none;
}

#active{
	opacity: 1;
	width: 100%;
}

.line{
	width: 0;
	border: 0;
	margin: 10px 0 auto 0;
	border-bottom: 2px solid #F5F5F5;
	opacity: 0;
	transition: 0.3s;
}

.nav-link:hover .line{
	opacity: 1;
	width: 100%;
}

.companyTitle-cont{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	z-index: 0;
}

.company-title{
	text-align: center;
	animation-name: smooth-in;
	animation-duration: 2s;
	text-align: center;
	letter-spacing: 1rem; 
	text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	font-size: 3.5rem;
	font-weight: bold;
	color: #fff;
	font-family: montserrat, sans-serif;
}

@keyframes smooth-in{
	0%{opacity: 0; transform: translate(-100rem, 0);}
	50%{opacity: 0.4;}
	75%{opacity: 0.7; transform: translate(5rem, 0);}
	100%{opacity: 1; transform: translate(0, 0);}
}

.aboutUs-header, .service-header{
	display: flex;
	justify-content: center;
}

.aboutUs-title, .service-title{
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 1), 1px -1px 0 rgba(0, 0, 0, 1), -1px 1px 0 rgba(0, 0, 0, 1), 1px 1px 0 rgba(0, 0, 0, 1);
	font-family: montserrat, sans-serif;
	text-align: center;
	font-size: 3.5rem;
	font-weight: bold;
	cursor: default;
	transition: all 0.3s ease-in-out;
}

.aboutUs-title:hover, .service-title:hover{
	color: #353535;
	text-shadow: 0px 0px 0 rgba(0, 0, 0, 0);
}

/*.aboutInfo-cont{
	display: flex;
	justify-content: center;
	margin: 0 2rem;
}

.about-image{
	overflow: hidden;
	width: 170%;
	margin: 0 4rem;
	margin-right: -2rem;
	transition: 0.5s;
	box-shadow: 8px -5px 5px rgba(0,0,0,0.4), 8px -5px 5px rgba(0,0,0,0.2);
}

.about-image{
	display: flex;
}

.about-image img{
	height: 450px;
	width: 100%;
	max-width: 450px;
	cursor: pointer;
	transition: 1s;
}

.aboutImage:hover{
	transform: scale(1.2);
}

.about-image:hover{
	box-shadow: -4px 2.5px 8px rgba(0,0,0,0.4), 4px -2px 8px rgba(0,0,0,0.4);
}

.about-descript{
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutDescript-paragrah{
	text-align: left;
	width: 75%;
	line-height: 1.9rem;
}*/

.aboutInfo-cont{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.about-descript{
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutDescript-paragrah{
	text-align: center;
	width: 75%;
	line-height: 1.9rem;
}

.aboutUsMission-statement{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 2.5rem;
	margin-top: 3.5rem;
}

.missionStatement-box{
	display: flex;
	transition: 0.3s;
	cursor: default;
	margin: 0 2rem;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/*background-color: #fff;*/
	/*box-shadow: 6px 4px 8px rgba(0,0,0,0.2), -4px -2px 8px rgba(0,0,0,0.2), -2px -1px 8px rgba(0,0,0,0.2);*/
}

.missionStatement-box:hover{
	background-color: #fff;
	box-shadow: 2px 1px 8px rgba(0,0,0,0.2), -1px -1px 4px rgba(0,0,0,0.2), 0 0 2px rgba(0,0,0,0.2);
}

.box-title h1{
	font-weight: 600;
	text-align: center;
	font-size: 1.8rem;
	color: rgb(43, 75, 128);
	text-transform: uppercase;
}

.box-descript p{
	text-align: center;
	margin: 0 2rem;
	margin-bottom: 1.5rem;
	line-height: 1.9rem;
}